.wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex-grow: 1;
  }

.dashboard__btn {
    font-size: 18px;
    border: none;
    color: greenyellow;
    background-color: black;
  }